<div class="container-fluid main-container">
  <div class="card-columns">
    <div *ngIf="isAdmin">
      <div class="card border-info picture" (click)="open()">
        <div class="card-body text-info">
          <h5 class="card-title text-center">Add Picture</h5>
          <div class='text-center'>
            <fa-icon icon="plus-circle" class="fa-2x"></fa-icon>
          </div>
          <p class="card-text text-center">Click to add a new picture</p>
        </div>
      </div>
    </div>
    <div *ngFor="let picture of pictures | async; index as i;">
      <app-card [index]="i" [id]="picture.id" (click)='displayPreview(i)'></app-card>
    </div>
  </div>
</div>